body{
    width: 100%;
    height: 100vw;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}



#divTecnico{
    width: 30%;
    height: 25vw;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675)
}

#divDatosSucursal
{
    width: 30%;
    height: 35vw;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675)
}
#divDatosCajeros
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#divCajeroNuevo{
    width: 30%;
    height: 35vw;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675)

}

#cargarPDF{
    display: flex;
    margin: 1rem;
}

#divCajeroViejo{
    display: none;
}

#divCajeroViejo.show{
    width: 30%;
    height: 35vw;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675);
}

#divDatoSoft{
    width: 30%;
    height: 35vw;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675);
}

#divDatosInstalacion{
    width: 30%;
    height: auto;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675);
}

#divElectricidad{
    width: 30%;
    height: auto;
    border-radius: 10%;
    border-style: solid;
    border-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow:10px 5px 10px 5px rgba(86, 17, 120, 0.675);
}


@media (max-width: 1250px) {

    body{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
        
    h1{
        width: 80%;
        justify-content: center;
        display: flex;
        font-size:2rem;
    }
    h2{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: medium;
    }
    h3{
        width: 70%;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    #divTecnico{
        width: 60%;
        height: 50vw;
        margin: 1rem;

    }

    #divDatosSucursal{
        width: 60%;
        height: 50vw;
        margin: 1rem;
    }

    #divCajeroNuevo{
        width: 60%;
        height: 50vw;
        margin: 1rem;
    }
    #divCajeroViejo.show{
        width: 60%;
        height: 50vw;
        margin: 1rem;

    }
    #divDatoSoft{
        width: 60%;
        height: 50vw;
        margin: 1rem;
                
    }

    #cargarPDF{
        display: flex;
        width: 40%;
        height: 10vw;
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 850px) {

    body{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
        
    h1{
        width: 80%;
        justify-content: center;
        display: flex;
        font-size:2rem;
    }
    h2{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: medium;
    }
    h3{
        width: 70%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    #divTecnico{
        display: flex;
        justify-content: center;
        width: 80%;
        height: 100vw;
        margin: 1rem;

    }

    #divDatosSucursal{
        width: 80%;
        height: 100vw;
        margin: 1rem;
    }

    #divCajeroNuevo{
        width: 80%;
        height: 100vw;
        margin: 1rem;
    }
    #divCajeroViejo.show{
        width: 80%;
        height: 100vw;
        margin: 1rem;

    }
    #divDatoSoft{
        width: 80%;
        height: 100vw;
        margin: 1rem;
                
    }


    #cargarPDF{
        display: flex;
        width: 60%;
        height: 10vw;
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {

    body{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
        
    h1{
        width: 80%;
        justify-content: center;
        display: flex;
        font-size:2rem;
    }
    h2{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: medium;
    }
    h3{
        width: 70%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    #divTecnico{
        display: flex;
        justify-content: center;
        width: 80%;
        height: 120vw;
        margin: 1rem;

    }

    #divDatosSucursal{
        width: 80%;
        height: 120vw;
        margin: 1rem;
    }

    #divCajeroNuevo{
        width: 80%;
        height: 120vw;
        margin: 1rem;
    }
    #divCajeroViejo.show{
        width: 80%;
        height: 100vw;
        margin: 1rem;

    }
    #divDatoSoft{
        width: 80%;
        height: 140vw;
        margin: 1rem;
                
    }

    #cargarPDF{
        display: flex;
        width: 60%;
        height: 10vw;
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }
}